<div>
  <form [formGroup]="checkoutForm">
    <div class="row">
      <label for="user">
        Username:
      </label>
      <input id="user" type="text" formControlName="username">
    </div>

    <div class="row">
      <label for="password">
        Password:
      </label>
      <input id="password" [type]="showPassword ? 'text' : 'password'" formControlName="password">
      <button class="btn-show-password" (click)="showPassword=!showPassword">Show</button>
    </div>

    <div class="row" *ngIf="messagemLogin">
      <h5 [ngClass]="{'text-danger': hasError}">{{ messagemLogin }}</h5>
    </div>

    <div class="row">
      <button class="button" type="submit" (click)="onSubmit(checkoutForm.value)">login</button>
    </div>
  </form>
</div>
