/* You can add global styles to this file, and also import other style files */
html, body
  margin 0
  background #e6e6e6

a
  text-decoration none
  cursor pointer
  color #f4516d

button
  padding 0 30px
  text-align center
  line-height 38px
  cursor pointer
  align-items center
  border-radius 4px
  display inline-flex
  letter-spacing .0892857143em
  justify-content center
  outline 0
  position relative
  text-decoration none
  text-indent .0892857143em
  text-transform uppercase
  transition-duration .28s
  transition-property box-shadow,transform,opacity
  transition-timing-function cubic-bezier(.4,0,.2,1)
  color #FFF
  background-color #56d353
  border-color #56d353

input
  border-radius 50px
  border-color #e2e2e2
  padding 8px
  border-width 1px
  border-style solid

input:focus
  border-color #f4516d

*:focus
  outline none
