.dragons
  width 80%
  background white
  margin 5px auto
  padding 5px
  button
    padding 0 5px
  .name
    width 60%
.dragons  *
  display inline-flex
  margin-left 5px

@media screen and (max-device-width: 840px)
  .dragons
    width 95%
    .name
      width 40%
